<!DOCTYPE html>
<html>
<head>
    <title>CoinDrops</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca del Ptoyecto</a></li>
                <li><a href="/sponsorship">Patrocinio</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Bienvenido a CoinDrops</h1>
        <p>Esta es una faucet de prueba para recibir Ethereum (ETH) en la red de Goerli.</p>
        <form onsubmit="event.preventDefault(); requestFunds();">
            <p>Ingrese su dirección de Ethereum y haga clic en "Solicitar fondos" para recibir ETH de la Faucet:</p>
            <input type="text" id="address-input" placeholder="Dirección Ethereum">
            <button type="submit">Solicitar fondos</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2023 Faucet CoinDrops. Todos los derechos reservados.</p>
    </footer>

    <script>
        function requestFunds() {
            var addressInput = document.getElementById('address-input');
            var address = addressInput.value;

            fetch('/request', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ address: address })
            })
            .then(function(response) {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Error al solicitar fondos: ' + response.statusText);
                }
            })
            .then(function(data) {
                alert(data);
            })
            .catch(function(error) {
                alert(error);
            });
        }
    </script>
</body>
</html>
